<h2>Nhap thong tin sinh vien @ViewBag.ThongBao</h2>
<form asp-action="Index" method="post">
    <input type="text" name="studentNumber" placeholder="Nhap ma sinh vien"> 
    <br>
    <input type="text" name="fullName" placeholder="Nhap ho ten">
    <br>
    <button type="submit">Gui</button>
</form>

<p>@ViewBag.ThongBao</p>