<div class="container mt-4">
    <h2>Book Management</h2>
    <div id="bookTableContainer">
    </div>
</div>
<div id="modalContainer"></div>
@section Scripts {
    <script src="~/js/book/book.js"></script>
    <script src="~/js/book/book-table.js"></script>
    <script src="~/js/book/book-create.js"></script>
    <script src="~/js/book/book-edit.js"></script>
    <script src="~/js/book/book-delete.js"></script>
}